* {
    box-sizing: border-box;
}

body {
    background: wheat;
    color: white;
}
header, footer {
    height: 100px;
    clear: both;
    text-align: center;
}

img {
    height: 300px;
    width: auto;
}

section {
    height: 400px;
    float: left;
    width: 33.3333%;
    text-align: center;
}
